

API_KEY=
API_NAME=
API_SECRET=


POSTGRES_LOGIN=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_NAME=


START_BALANCE=

DELAY_BETWEEN_REQUESTS=120
PERCENT_BETWEEN_FIRST_ORDER_AND_CURRENT_PRICE=0.25
MAX_PERCENT_BETWEEN_FIRST_ORDER_AND_CURRENT_PRICE=0.75
PERCENT_TO_KEEP_IN_CRYPTOCURRENCY_AFTER_ITERATION=50
REVENUE_PERCENT=1
PERCENT_STEP_PER_ORDER=0.6
MAX_ORDER_COUNT=15
TRADE_PAIR=BTCUSDT